**/public/hot
**/public/storage
**/public/css/app.css
**/public/js/app.js
**/storage/*.key
**/node_modules
**/vendor

*.phpunit.result.cache
*.env.backup
*.env
*.DS_Store
*.env.testing

Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log