body{background-color: $body-bg !important}

::-moz-selection{
    background-color:$purple;
    color:#ffffff;
}
::selection{
    background-color:$purple;
    color:#ffffff;
}

#header{
  background-color:$white;
}

.card{
  margin-top: 1rem;
}

.dash{
  border: dashed 1px #b7b7b7;
}

.ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ownbtn{
  color: #fff;
  background-image: linear-gradient(to right, #74D4D8 , #55B3E0);
}

.ownbtn:hover{
  color: #fff;
  background-image: linear-gradient(to right, #6BC7CB , #48A4D0);
}

.ownbtn:focus{
  border-color:#65C4DB;
}

.nav-item{
  margin-left: 0.5rem;
}

.theme{
  color: $theme;
}

.fbbtn{
  width: 225px;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  color: white;
  background-color: #3B5998;
  text-align: center;
  text-decoration: none;
}

.fbbtn:hover{
  opacity: 1;
  text-decoration: none;
  color: white;
}

.icon-radiobtn [type=radio]{
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.icon-radiobtn [type=radio] + i {
  cursor: pointer;
}

.icon-radiobtn [type=radio]:checked + i {
  box-shadow: 0px 0px 12px #3498DB;
}

.icon-radiobtn i.fas {
  display: inline-block;
  border-radius: 4px;
  box-shadow: 0px 0px 2px #888;
  padding: 0.5em 0.6em;
  width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.omise-checkout-button {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    line-height: 1.6;
    border-radius: 0.25rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: #fff;
    background-image: linear-gradient(to right, #74D4D8 , #55B3E0);
}
.omise-checkout-button:hover{
    color: #fff;
    background-image: linear-gradient(to right, #6BC7CB , #48A4D0);
  }

.omise-checkout-button:focus{
    border-color:#65C4DB;
}
button:disabled,
button[disabled]{
    color: #808588;
    background-image: linear-gradient(to right, #b9bbb6 , #b9bbb6);
}
